a{
  text-decoration: none;
}
a:visited{
  color:blue;
}
.center-text{
  text-align:center;
}

.top-links{
  margin-left:4%;
}

.center-div{
  margin-left: auto;
  margin-right: auto;
}

div[data-rbd-droppable-context-id="0"]{
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
}

table {
  border-collapse: collapse;
}

table, th, td{
  border: 1px solid black;
}