a{
  text-decoration: none;
}
a:visited{
  color:blue;
}

a[class="dnd-link"]{
  color:white;
}
.center-text{
  text-align:center;
}

.top-links{
  margin-left:4%;
}

.center-div{
  margin-left: auto;
  margin-right: auto;
}

div[data-rbd-droppable-context-id="0"]{
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
}

div[id="root"]{
  height:90vh;
}

div{
  overflow:auto;
}

.overflow-auto{
  overflow: auto;
}

.css-grid{
  display: grid;
  grid-template-columns: repeat(2, 50% [col-start]);
  grid-template-rows: 20% 80%;
  width: 100%;
  height: 50vh;
  justify-content: center;
}

.css-grid > div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.height-100{
  height:100%;
}

.height-70{
  height:70%;
}

.height-90vh{
  height:90vh;
}

div[class="css-grid"]{

}

table {
  border-collapse: collapse;
}

table, th, td{
  border: 1px solid black;
}